<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">

    <div class="row">
      <div class="offset-md-1 col-md-10">
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eMWNUOzrQBE"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div style="text-align: center; margin-top:5rem;margin-bottom: 2rem;">
      <h1 class="h1">Functions:</h1>
      <h2 class="h2" style="display: inline-block;">Drive-Awake&nbsp;</h2>
      <p style="display: inline-block;" class="text-secondary">is an embedded system integrated in vehicules provided
        with a web platform and a mobile application.</p>
    </div>



  </div>

  <section class="section section-lg section-shaped" style="margin-bottom:5rem">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-md">
      <div class="row row-grid justify-content-between align-items-center">
        <div class="col-lg-5 mb-lg-auto">
          <div style="display: flex; justify-content: center;">
            <img class="img-fluid rounded shadow card-img-top" src="../../../../assets/img/home/1.PNG"
              alt="Card image cap">
          </div>
        </div>
        <div class="col-lg-6">
          <p class="lead text-white">Our embedded system integrated in the steering wheel contains three sensors for
            heart-rate,temperature and alcohol detection
            in order to monitor the health state of the driver so he/she can drive safely on the road </p>
        </div>

      </div>
      <div class="row row-grid justify-content-between align-items-center">
        <div class="col-lg-6">

          <p class="lead text-white">The camera implemented in the car detects the drowziness and tiredness of the
            driver through eye-blinking</p>

        </div>
        <div class="col-lg-5 mb-lg-auto">

          <img class="img-fluid rounded shadow card-img-top" src="../../../../assets/img/home/2.PNG"
            alt="Card image cap">
          <img style="margin-top: 1rem;" class="img-fluid rounded shadow card-img-top"
            src="../../../../assets/img/home/3.png" alt="Card image cap">

        </div>
      </div>
      <div class="row row-grid justify-content-between align-items-center">
        <div class="col-lg-5 mb-lg-auto">
          <img class="img-fluid rounded shadow card-img-top" src="../../../../assets/img/home/4.PNG"
            alt="Card image cap">
          <img style="margin-top: 1rem;" class="img-fluid rounded shadow card-img-top"
            src="../../../../assets/img/home/5.PNG" alt="Card image cap">
        </div>
        <div class="col-lg-6">

          <p class="lead text-white">In case of an alert detection the system will activate the led and buzzer on the
            dashboard and it will also display an alert message
            also the gsm and gps modules integrated in the cars will get the location of the car and send an alert
            message to the emergency services containing the location of the driver.</p>

        </div>

      </div>
      <div class="row row-grid justify-content-between align-items-center">
        <div class="col-lg-6">

          <p class="lead text-white">The mobile application Drive-Awake allows the driver to display the physiological
            parameters also it contains an awarness interface where he can check
            on the informations needed to aware him about how to prevent for car accidents and take care of his health.
            In case of an alert detected the mobile application will send an SOS message with the location of the driver
            to a number that he will set on the app.</p>

        </div>
        <div class="col-lg-5 mb-lg-auto">
          <div style="display: flex; justify-content: center;">
            <img style="width: 50%;" class="img-fluid rounded shadow card-img-top"
              src="../../../../assets/img/home/6.PNG" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="our-webcoderskull padding-lg">
    <div class="container">
      <div class="row heading heading-icon">
        <h2 style="margin-bottom: 0; padding: 0;">Meet Our Team</h2>
        <div style="display: flex; justify-content: center; margin-bottom: 1rem;">
          <img style="width: 30rem;" src="../../../../assets/img/home/logop.png">
        </div>
      </div>
      
      <ul class="row">
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="../../../../assets/img/home/team/achref.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Achref Daabek</a></h3>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="../../../../assets/img/home/team/linda.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="#">Linda Mbarki</a></h3>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="../../../../assets/img/home/team/ines.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Ines Najjar</a></h3>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="../../../../assets/img/home/team/mahdi.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Mehdi Bel Haj Yahya </a></h3>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </li>
        <li class=" offset-md-4 col-md-4 ">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="../../../../assets/img/home/team/hamdi.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Hamdi Messaoudi</a></h3>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>